html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
	background-image:url("bg.jpg");
	margin: 0;
}

#container{
	position:relative;
	margin: 0;
	background-color:#333;
	border-radius:65%;
	width:70vmin;
	height:70vmin;
	box-shadow:.7em .7em 2rem 1rem black,
			   inset .2em .2em 2rem 1rem #111111;
}

#centerPanel {
	position:relative;
	background-color:#444;
	border-color:#333;
	border-width:2vmin;
	border-style:solid;
	border-radius:60%;
	z-index:500;
	height:40%;
	width:40%;
	top:30%;
	left:30%;
}

#lcd {
	position:absolute;
	top:25%;
	padding-top:.5vh;
	left:33%;
	width:34%;
	height:15%;
	font-size:2vw;
	text-align:center;
	border-radius:10%;
	border-color:#222;
	border-size:2vw;
	background-color:black;
	color:#155;
}

.centerButton {
	position:absolute;
	top:50%;
	height:15%;
	width:15%;
	border: .3vw solid #222;
	border-radius:60%;
}

#strictButton {
	left:67%;
	background-color:orange;
}

#restartButton {
	right:67%;
	background-color:purple;
}

#strictButton:active {
}

#restartButton:active {
	background-color:#a222a2;
}
.centerLabel {
	position:absolute;
	font-size:2vw;
	top:64%;
	text-align:center;
}

#restartLabel {
	left:1.7vw;
}

#strictLabel {
	left:58%;
}

#score{
	position:fixed;
	text-align:center;
	width:100vw;
	height:14vh;
	background-color:black;
	color:grey;
	font-size:7vw;
	font-family:Arial;
	z-index:900;
  transition: top .5s;
}

.button {
	position:absolute;
	height:40%;
	width:40%;
	transition: background-color .1s, box-shadow .1s;
}


#redButton{
	background-color:#990000;
	top:8%;
	left:8%;
	border-top-left-radius:95%;
	box-shadow:.1em .1em .2em #222222,
		inset .2em .2em 2rem 1rem #992200;
}

#redButton:active, #redButton.redOn {
	background-color:#ff0000;
	box-shadow: .1em .1em .2em #222222,
				inset .2em .2em 2rem .5rem #cc2200;
}

#blueButton{
	border-bottom-left-radius:95%;
	background-color:#000099;
	top:53%;
	left:8%;
	box-shadow: .1em .1em .2em #222222,
				inset .2em .2em 2rem 1rem #002299;
}

#blueButton:active, #blueButton.blueOn {
	background-color:#0000ff;
	box-shadow: .1em .1em .2em #222222,
				inset .2em .2em 2rem .5rem #0022cc;
}

#greenButton{
	border-top-right-radius:95%;
	background-color:#009900;
	top:8%;
	left:52%;
	box-shadow:.1em .1em .2em #222222,
		inset .2em .2em 2rem 1rem #009922;
}

#greenButton:active, #greenButton.greenOn {
	background-color:#00ff00;
	box-shadow: .1em .1em .2em #222222,
				inset .2em .2em 2rem .5rem #00cc22;
}

#yellowButton{
	border-bottom-right-radius:95%;
	background-color:#999900;
	top:53%;
	left:52%;
	box-shadow:.1em .1em .2em #222222,
		inset .2em .2em 2rem 1rem #999922;
}
#yellowButton:active, #yellowButton.yellowOn {
	background-color:#ffff22;
	box-shadow: .1em .1em .2em #222222,
				inset .2em .2em 2rem .5rem #cccc22;
}
